/Antifraud/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/Antifraud/obj/Debug/net5.0/Antifraud.AssemblyInfo.cs
/Antifraud/obj/Debug/net5.0/Antifraud.AssemblyInfoInputs.cache
/Antifraud/obj/Debug/net5.0/Antifraud.assets.cache
/Antifraud/obj/Debug/net5.0/Antifraud.cs
/Antifraud/obj/Debug/net5.0/Antifraud.csproj.CoreCompileInputs.cache
/Antifraud/obj/Debug/net5.0/Antifraud.csproj.FileListAbsolute.txt
/Antifraud/obj/Antifraud.csproj.nuget.dgspec.json
/Antifraud/obj/Antifraud.csproj.nuget.g.props
/Antifraud/obj/Antifraud.csproj.nuget.g.targets
/Antifraud/obj/Debug/net5.0/Antifraud.csprojAssemblyReference.cache
/Antifraud/bin/Debug/net5.0/Antifraud.deps.json
/Antifraud/bin/Debug/net5.0/ref/Antifraud.dll
/Antifraud/bin/Debug/net5.0/Antifraud.dll
/Antifraud/obj/Debug/net5.0/ref/Antifraud.dll
/Antifraud/obj/Debug/net5.0/Antifraud.dll
/Antifraud/obj/Debug/net5.0/Antifraud.GeneratedMSBuildEditorConfig.editorconfig
/Antifraud/bin/Debug/net5.0/Antifraud.pdb
/Antifraud/obj/Debug/net5.0/Antifraud.pdb
/Antifraud/obj/Debug/net5.0/AntifraudGrpc.cs
/Antifraud/obj/Debug/net5.0/da39a3ee5e6b4b0d_antifraud.protodep
/Antifraud/obj/project.assets.json
/Antifraud/obj/project.nuget.cache
/Antifraud/obj/project.packagespec.json
/Antifraud/obj/rider.project.restore.info
